/*** Carousel Hero Header Start ***/
.hero-section {
    background-image: url(../assets/download.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero-bg-half-1 {
    background-image: url(../../assets/img/kidus1.jpg);
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    filter: grayscale(15%);
    transform: scale(100% - 50%);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 35%;
    height: 100%;
    right: 0;
    top: 0;
}

.hero-bg-half-2 {
    background-image: url(../../assets//img/kidus7.jpg);
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    filter: grayscale(15%);
    transform: scale(100% - 50%);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 35%;
    height: 100%;
    right: 0;
    top: 0;
}

@media (max-width: 991px) {
    .hero-bg-half-1 {
        background-image: url(../../assets//img/kidus7.jpg);
        clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
        filter: grayscale(0%);
        transform: scale(100% - 0%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
    }
    h1 {
        font-size: 3;
        font-weight: normal;
        /* display: none; */
    }
    .hero-bg-half-2 {
        background-image: url(../../assets//img/kidus1.jpg);
        clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
        filter: grayscale(0%);
        transform: scale(100% - 0%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
    }

    p h1{
        font-size: 1.2rem;
        color: white;
        font-weight: 100;
        margin-top: -200px;
/* display: none; */
    }
}

/*** Carousel Hero Header Start ***/
.header-carousel .header-carousel-item {
    height: 700px;
    
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: skew(18deg);
    background: var(--bs-white);
    color: var(--bs-primary);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev {
    bottom: 30px;
    left: 51%;
}
.header-carousel .owl-nav .owl-next {
    bottom: 30px;
    right: 51%;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.header-carousel .header-carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    z-index: 9;
}

@media (max-width: 991px) {
    .header-carousel .header-carousel-item .carousel-caption {
        padding-top: 45px;
    }
   h1{
        font-size: 1.2rem;
        color: white;
        font-weight: 100;
        margin-top: 20px;
/* display: none; */
    }
    .header-carousel.owl-carousel,
    .header-carousel .header-carousel-item {
        height: 700px;
    }
}
/*** Carousel Hero Header End ***/
