.pricing-section {
  background: #151515;
  padding: 80px 0;
}

.pricing-section .section-title {
  margin-bottom: 56px;
  text-align: center;
}

.ps-item {
  text-align: center;
  padding: 40px 30px 52px;
  border: 1px solid #464646;
  transform: skewY(-4deg);
  transition: all 0.5s;
  margin-bottom: 30px;
  position: relative;
  background: #151515;
}

.ps-item:hover {
  background: #ffffff;
  border-color: #ffffff;
}

.ps-item:hover h3 {
  color: #111111;
}

.ps-item:hover .pi-price span {
  color: #444444;
}

.ps-item:hover ul li {
  color: #111111;
  font-weight: 600;
}

.ps-item:hover .primary-btn.pricing-btn {
  background: #f36100;
  color: #ffffff;
}

.ps-item:hover .thumb-icon {
  opacity: 1;
  visibility: visible;
}

.ps-item h3 {
  font-size: 28px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 16px;
  transform: skewY(4deg);
}

.ps-item .pi-price {
  margin-bottom: 30px;
  transform: skewY(4deg);
}

.ps-item .pi-price h2 {
  font-size: 60px;
  color: #f36100;
  font-weight: 600;
}

.ps-item .pi-price span {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.ps-item ul {
  margin-bottom: 40px;
  transform: skewY(4deg);
  padding: 0;
}

.ps-item ul li {
  font-size: 14px;
  color: #c4c4c4;
  line-height: 32px;
  list-style: none;
}

.ps-item .primary-btn.pricing-btn {
  display: block;
  background: #333333;
  transform: skewY(4deg);
  padding: 12px 30px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
}

.ps-item .thumb-icon {
  font-size: 48px;
  color: #f36100;
  position: absolute;
  left: 50px;
  bottom: 120px;
  transform: skewY(4deg);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
  .ps-item h3 {
    font-size: 22px;
  }

  .ps-item .pi-price h2 {
    font-size: 40px;
  }

  .ps-item ul li {
    font-size: 12px;
  }
}