
/*** Footer Start ***/
.footer {
    overflow: hidden;
    background: linear-gradient(rgba(12, 24, 68, 0.9), rgba(12, 24, 68, 0.98)), url(../img/services-img.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer button {
    border: none;
    transition: 0.5s;
}

.footer button:hover {
    background: var(--bs-white);
    color: var(--bs-dark);
}

.footer .footer-item {
    display: flex;
    flex-direction: column;
}

.footer .footer-item .footer-item-img {
    transform: matrix(1, -0.09, 0, 1, 0, 0);
    transition: 0.5s;
}

.footer .footer-item .footer-item-img:hover {
    transform: matrix(1, 0.09, 0, 1, 0, 0);
}

.footer .footer-item .footer-item-img img {
    filter: grayscale(50%);
    transition: 0.5s;
}

.footer .footer-item .footer-item-img:hover img {
    filter: grayscale(0%);
}

.footer .footer-item a {
    line-height: 35px;
    font-size: 16px;
    font-weight: 500;
    color: var(--bs-white);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    letter-spacing: 1px;
    color: var(--bs-primary);
}

.footer .footer-item .footer-btn a {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: var(--bs-white);
}

.footer .footer-item .footer-btn a:hover {
    color: var(--bs-primary);
}
